<h1><%= @house.name %> </h1>
  <%= image_tag @house.img_url %>
<p><%= @house.motto %></p>
<span><%= link_to "Edit House", edit_house_path(@house) %></span>
<span><%= link_to "Delete House", house_path(@house), method: :delete %></span>

<h2>Characters</h2>
<h3>New Character<%= link_to "(+)", new_house_character_path(@house) %></h3>

<% @house.characters.each do |character| %>
  <p>
    <%= link_to character.name, house_character_path(@house,character) %>
  </p>
  <p>
    <%= image_tag character.img_url %>
  </p>

  <%= link_to "Delete Character", house_character_path(@house, character), method: :delete %>
<% end %>
<hr>
